*{

    font-family: "Caveat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #FFF;
    margin: 0;
}

.content {
    font-size: 20px;
    padding: 50px;
    margin-left: 15rem;
    text-align: center;
}

.bio {
    margin-top: 1rem;
    display: flex;
}

.bioText {
    font-size: 24px;
    margin-left: 5%;
    text-align: center;
}
.bioPhoto {
    width: auto;
    height: 40rem;
}

.resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 10%;
}

.resources .email {
    font-size: 36px;
}

.resources .links {
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.resources .links a {
    width: auto;
    padding: 10px 20px;
    margin: 0px 40%;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

.resources .links a:hover {
    background-color: #f0f0f0;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .content {
        margin-left: 0;
    }
}
@media only screen and (max-width: 480px) {
    .content {
        padding: 20px;
        margin-left: 0;
    }

    .bio {
        flex-direction: column;
        margin-top: 35px;
        gap: 1rem;
    }

    .bioText {
        font-size: 20px;
        order: 2; /* Makes text appear below image */
    }

    .bioPhoto {
        padding-top: 5px;
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
        order: 1; /* Makes image appear above text */
    }

    .resources {
        margin: 10% 5%;
    }

    .resources .email {
        font-size: 24px;
    }

    .resources .links a {
        width: 90%;
        margin: 5px auto;
        text-align: center;
    }
}
